.header {
    padding-top: 40px;
}

.header-background {
    background: linear-gradient(to right, #fff 1% , #fff 1%, transparent), url("../../common/images/lecture.jpg") no-repeat;
    background-position-x: 100%;
    background-position-y: 40%;
    width: 100%;
    background-size: 580px;
}

.logo-place {
    display: flex;
    flex-direction: row;
    margin: 0px 0 40px 40px;
}

.logo {
    width: 130px;
    height: auto;
}

.header h1 {
    line-height: 80px;
    color: #0e2f55;
}

.nav {
    padding-left: 40px;
    border-bottom: #0e2f55 1px solid;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
    text-align: left;
}

.nav ul li {
    display: inline;
    margin: 0 10px 0 10px;
    font-size: 18px;
    font-weight: 600;
}

.header .nav a {
    text-decoration: none;
    color: #0e2f55;
    transition: all 0.5s ease-in-out;
}

.header .nav a:hover {
    color: #2163ad;
    border-bottom: #2163ad 5px solid;
    transition: all 0.2s ease-out;
}