@import url('https://fonts.googleapis.com/css?family=Kanit:700&display=swap');

.intro {
    font-family: 'Kanit', sans-serif;
    color: white;
    background-color: #f4f4f4;
}

.intro .row {
    max-width: 1100px;
    padding: 40px 0 40px 0;
    margin: 0 auto;
}

.intro .headline p {
    line-height: 1;
    font-size: 48px;
    color:#4577b1;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8px;
}

.make p {
    display: flex;
    justify-content: space-between;
    background-color: #4577b1;
}

.make span {
    margin: 0;
    padding: 20px;
    font-size:190px;
    line-height: 0.7;
}

.words-container {
    display: flex;
    background-size:100%;
    background-image: url("../../common/images/students.jpg");
    background-size:cover;
    background-position-y: 70%;
    height: 380px;
    align-items: center;
    justify-content: center;
}

.words-backgrounded {
    font-size: 48px;
    letter-spacing: 8px;
}

.intro .button {
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.intro .button:hover {
    background: #d3273e;
    color: #fff;
}
