.bryansk {
    max-width: 1100px;
    margin: 0 auto;
    padding:40px;
}

.bryansk p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
}

.bryansk .arms-place img {
    width: 15%;
    height: 65%;
    margin:20px 0;
}

.bryansk .arms-place {
   background-image: url('../../../common/images/park.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position-y: 50%;
   margin-bottom: 20px;
}

.bryansk .arms-place {
    display: flex;
    justify-content: center;
    
}

.bryansk .img-left {
    width: 47%;
    height: auto;
    float: left;
    margin: 5px 10px 0 0;
}